
.first-content {
    position: relative;
    background-color: rgb(251, 216, 173);
    padding-bottom: 1em;
}

.first-content__fc-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.fc-wrapper__image  img {
    max-width: 37.5em;
    max-height: 25em;
}

.body__text {
    max-width: 30em;
}

.fc-wrapper__body > * {
    margin: 15px;
}

.body__button {
    background-color: rgb(67, 67, 217);
    color: whitesmoke;
    border: none;
    padding: 15px;
}

@media only screen and (max-width: 1126px) {
    .fc-wrapper__body {
        text-align: center;
    }
}
