
body {
    position: relative;
    width: 1920px;
    background: #F9F9F9;
    margin: 0%;
}

.first-screen {
    position: absolute;
    width: 1920px;
    height: 700px;
    left: 0px;
    top: -7px;
    background: #EEEFF1
}

.first-screen__header {
    position: absolute;
    height: 60px;
    width: 1105px;
    left: 402px;
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__logo {
    width: 96px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__logo h1 {
    font-family: 'Revalia';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    color: #34547A;
}

.header__menu {
    width: 611px;
    height: 16px;
    display: flex;
    justify-content: space-between;
}

.menu {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: #000000;
    text-decoration: none;
    height: 16px;
}

.main {
    height: 12px;
    font-weight: 500;
    color: #34547A;
}

.first-screen__content {
    position: absolute;
    width: 1028px;
    height: 297px;
    left: 487px;
    top: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content__desc {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content__title h1 {
    width: 541px;
    height: 45px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    color: #000000;
    margin: 0%;
}

.content__text p {
    width: 540px;
    height: 67px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin: 0%;
}

.content__button {
    width: 225px;
    height: 65px;
    background: #34547A;
    cursor:pointer;
    padding: 0%;
    border: none;
}

.content__button a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    text-decoration: none;
}


@media only screen and (max-width: 375px) {
    
    .first-screen {
        position: absolute;
        width: 375px;
        height: 782px;
        left: 0px;
        top: 0px;
    }

    .first-screen__header {
        left: 19px;
        top: 22px;
        width: 375px;
        justify-content: flex-start;
    }

    .header__menu {
        display: none;
    }

    .header__logo h1 {
        text-align: center;
    }

    .first-screen__content {
        position: absolute;
        width: 375px;
        height: 539px;
        left: 0px;
        top: 149px;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .content__title h1 {
        width: 302px;
        height: 41px;
        font-size: 36px;
        line-height: 100%;
        text-align: center;
        padding-bottom: 10px;
    }

    .content__text p {
        width: 322px;
        height: 98px;
        line-height: 120%;
        text-align: center;
        padding-bottom: 20px;
    }
 
    .content__desc {
        width: 100%;
        left: 0px;
        height: 292px;
        align-items: center;
        justify-content: space-evenly;
    }

    .content__button a {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.1em;
        color: #FFFFFF;
        text-decoration: none;
    }

    .content__image img {
        width: 298px;
        height: 195px;
        background-size: cover;
    }

}