
.video {
    position: absolute;
    width: 1920px;
    height: 1004px;
    left: 0px;
    top: 1962px;
    background: #EEEFF1;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video__title {
    width: 540px;
    height: 147px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 57px;
}

.title__header {
    width: 403px;
    height: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000;

    display: flex;
    align-items: center;
    justify-content: center;
}

.title__text {
    width: 540px;
    height: 67px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.video__content {
    width: 1110px;
    height: 600px;
    background: url("../images/code-image.png");
    background-color: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65));
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}